body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.gp-header-container {
  position: sticky;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  background-color: white;
}

.gp-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 100%;
  margin: auto;
}

.gp-logo {
  height: 45px;
}

.gp-header-right-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.gp-header-left-section {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 15px;
  font-weight: 500;
}

.user-icon,
.search-icon,
.cart-icon {
  height: 25px;
}

.gp-hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(131,129,129,1) 100%); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gp-hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  width: 1500px;
  margin: auto;
}

.gp-hero-left-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  width: 700px;
}

.gp-hero-left-section h1 {
  font-size: 48px;
  font-weight: 500;
}

.gp-hero-left-section p {
  font-size: 16px;
}

.shop-now-button {
  width: 130px;
  height: 40px;
  border-color: white;
  border-width: 1px;
  background-color: transparent;
  color: white;
  padding: 10px;
}

.featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1500px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 50px;
  
}

.product-image-container {
  background-color: #E7E7E7;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-image {
  height: 300px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.product-name {
  font-weight: 500;
  cursor: pointer;
}

.product-price {
  font-weight: 700;
}

.markdown-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
  margin: auto;
  background-color: #303030;
  color: white;
  padding: 50px 0;
}

.markdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.markdown-title {
  font-size: 32px;
  font-weight: 400;
}

.markdown-discount {
  font-size: 32px;
  font-weight: 600;
}

.markdown-shop-button {
  width: 130px;
  height: 40px;
  border: none;
  background-color: white;
  border-width: 1px;
  color: black;
  padding: 10px;
}

.shop-by-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 300px;
}

.category-container {
  display: flex;
  gap: 40px;
}

.category-image {
  width: 270px;
  height: 385px;
}


