  .gp-header-container {
    position: sticky;
    height: 90px;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: white;
  }

  .gp-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1152px;
    height: 100%;
    margin: auto;
  }

  .gp-logo {
    height: 52px;
  }

  .gp-header-left-section {
    display: flex;
    gap: 34px;
  }

  .gp-header-right-section {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  .user-icon,
  .search-icon,
  .cart-icon {
    height: 30px;
  }

  .gp-hero-container {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(131,129,129,1) 100%);
  }

  .gp-hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1152px;
    margin: auto;
    padding-top: 100px;
  }
  
  .hero-image {
    width: 600px;
  }

  .gp-hero-left-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .gp-hero-left-section h1 {
    font-size: 64px;
  }

  .gp-hero-left-section p {
    font-size: 20px;
  }

  .shop-now-button {
    width: 130px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
  }



